---
layout: base.njk
pagination:
  data: tags
  size: 1
  alias: tag
permalink: "/routes/{{ tag.slug }}-sorted-by-date/"
renderData:
  title: "{{ tag.name }}"
  listIsSortedBy: "addedAt"
  listIsReversed: true
---