.margin-bottom {
  &-xs {
    margin-bottom: 0.25rem !important;
  }

  &-s {
    margin-bottom: 0.5rem !important;
  }

  &-m {
    margin-bottom: 1rem !important;
  }

  &-l {
    margin-bottom: 2rem !important;
  }
}

.margin-top {
  &-xs {
    margin-top: 0.25rem !important;
  }

  &-s {
    margin-top: 0.5rem !important;
  }

  &-m {
    margin-top: 1rem !important;
  }

  &-l {
    margin-top: 2rem !important;
  }
}

.neg-margin-left-s {
  margin-left: -0.5rem;
}

.neg-margin-left-m {
  margin-left: -1rem;
}

.neg-margin-right-s {
  margin-right: -0.5rem;
}

.neg-margin-right-m {
  margin-right: -1rem;
}

.margin-top-auto {
  margin-top: auto;
}
