.p-relative {
  position: relative;
}

.p-abs-top-right {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.p-abs-top-left {
  position: absolute;
  top: 1em;
  left: 1em;
}

.z-1 {
  z-index: 1;
}
