.btn {
  border-radius: 0.5em;

  font-family: sans-serif;

  & + & {
    margin-left: 1.5em;
  }
}

.btn--cta {
  padding: 0.75em;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0.25em 1em #405fca82;
  display: inline-grid;
  grid-template-columns: auto 1em;
  grid-gap: 0.75em;
  transform: translateY(0);
  border: 2px solid transparent;

  &:hover {
    background: #506fda;
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 0.125em 0.5em #405fca82;
  }
}

.btn--ghost {
  color: var(--primary-color);
  padding: 0.75em 0;
  display: inline-grid;
  grid-template-columns: auto 1.25em;
  grid-gap: 0.75em;
  transform: translateY(0);
  border: 2px solid transparent;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
  }
}
