.helper {
  display: flex;
  flex-direction: column;
  padding: 1em;

  &__btn {
    display: block;
    font-size: 0.875em;
    text-align: center;
    margin-top: 1em;
    background: #eaefff;
    padding: 0.75em 1em;
    margin: 1em -1em -1em -1em;
    color: #fff;
    border-top: 1px solid #d9dfe4;
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.2em;
      text-decoration-thickness: 2px;
    }
  }

  &__desc {
    font-style: italic;
    margin: 0.25em 0 1em;
  }

  &__headline {
    font-size: 1.25em;
  }

  &__image {
    margin: -1em -1em 1.5em -1em;
    max-width: calc(100% + 2em);
  }

  &__maintainers {
    display: grid;
  }

  &__maintainersList {
    display: flex;
    li + li {
      margin-left: -0.675em;
    }
  }

  &__maintainer {
    img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 3px solid #444;
    }
  }
}
