.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);

  background: #eaefff;
  box-shadow: inset 0 0 1em #d4dadf;

  &__body {
    padding: 1em 3em;
    display: grid;
    grid-template-rows: auto auto 5em;
    height: calc(100% - var(--topbar-height));
  }

  &__explainer,
  &__broughtToYou {
    padding: 0 1em 1em;
    margin: 1em 0;
    font-size: 0.875em;
    font-style: italic;
    color: var(--primary-color);
  }

  &__header {
    margin: 0;
    height: var(--topbar-height);
    padding: 1em 3em;
    border-bottom: 1px solid var(--light-border-color);
  }

  &__tag {
    position: relative;

    & + & {
      margin-top: 0.125em;
    }
  }

  &__tags {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(#eaefff 30%, rgba(234, 239, 255, 0)),
      linear-gradient(rgba(234, 239, 255, 0), #eaefff 70%) 0 100%,
      radial-gradient(
        farthest-side at 50% 0,
        rgba(195, 202, 207, 0.5),
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(195, 202, 207, 0.5),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background-color: #eaefff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 24px, 100% 24px, 100% 12px, 100% 12px;

    a {
      padding: 0.375em 1em;

      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 0.1em;
      }
    }

    .isActive {
      background: #fff;
      border-radius: 0.5em;
      color: var(--primary-color);
    }
  }

  &__tagCount {
    position: absolute;
    right: 1.25em;
    top: 0.375em;
    padding: 0.25em 0.5em;

    font-size: 0.75em;
    font-weight: bold;
    color: #686c7a;
    border-radius: 0.375em;
  }
}
