.topbar {
  text-align: right;
  position: fixed;
  padding: 1em 2em;
  left: var(--sidebar-width);
  top: 0;
  right: 0;
  height: var(--topbar-height);

  background: var(--canvas-bg-color);
  border-bottom: 1px solid var(--light-border-color);
}
