@import './_fonts.css';
@import './_base.css';
@import './_canvas.css';
@import './_buttons.css';
@import './_helper.css';
@import './_sidebar.css';
@import './_topbar.css';
@import './_util.css';

body {
  --primary-color: #405fca;
  --text-color: #484a53;
  --text-highlight-color: #393c42;
  --light-border-color: #d9dfe4;

  --canvas-bg-color: #f5f7ff;

  --sidebar-width: 20em;
  --topbar-height: 5em;

  padding-top: var(--topbar-height);
  padding-left: var(--sidebar-width);
}

h1 {
  color: #405fca;
  font-size: 1.5em;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a {
  display: block;
  text-decoration: none;
}
