@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  src: local('Exo SemiBold'), local('Exo-SemiBold'),
    url('/exo.woff2') format('woff2'), url('/exo.woff') format('woff');
  font-display: swap;
}
